body {
    margin: 0;
    font-family: Arial;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    color: white;
    padding: 10px;
}

.sidebar {
    position: fixed;
    left: -220px;
    top: 0;
    width: 200px;
    height: 100%;
    background: #333;
    padding-top: 60px;
    transition: 0.3s;
}

.sidebar a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.content {
    padding: 20px;
}